body, html {
    margin: 0;
    height: 100vh;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
}

.page {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

input {
    font-size: 18px;
    padding: 6px 12px;
    width: 400px;
    outline: none;
}

label {
    font-size: 18px;
    padding: 6px 12px;
    outline: none;
}

.point {
    position: absolute;
    margin: -5px 0 0 -5px;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.5);
}

.point-text {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    line-height: 1;
    margin: 15px 0 0 15px;
}
